* {
	margin: 0;
	padding: 0;
}
html {
    background: url(Media/background.png);
}
body {
    font: 100% "Myriad Pro";
    line-height: 2;
    color: rgba(40, 40, 40, 1.0);
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    text-align: justify;
    line-height: 150%;
}
h1 {
    font-family: 300% "Myriad Pro";
    font-weight: 600;
    margin-bottom: .9em;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    background-color: rgba(241, 196, 15, 0.5);
}
h2 {
    text-decoration: none;
    margin-bottom:1em;
}
.navcenter {
    text-align: center;
    margin: 20px;
}
.navbar {
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-color: rgba(241, 196, 15, 0.5);
    border-radius: 5px;
}
.nodeco {
    text-decoration: none;
}
.page-wrapper {
    padding: 4% 15% 4% 15%;
    margin: 0;
    position: relative;
}
.frame {
    background: transparent;
    padding: 12px;
    border: 1px solid rgba(241, 196, 15, 0.5);
    border-radius: 2px;
}
.frame_float {
    background: transparent;
    padding: 12px;
    border: 1px solid rgba(241, 196, 15, 0.5);
    border-radius: 2px;
    float: left;
    margin-right: 20px;
}
p.text30 {
    width: 47%;
    margin-bottom: .8em;
    background-color: rgba(241, 196, 15, 0.5);
    border: 2px solid linen;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}
.post {
    width: 50%;
    margin-bottom: 24px;
}
.post2 {
    margin-bottom: 24px;
}
.content-wrapper {
    margin-top: 30px;
    background: rgba(241, 196, 15, 0.1);
    padding: 3%;
    border-radius: 4px;
}
span.subaru {
    font-weight: 600;
    background-color: rgba(241, 196, 15, 0.5);
    padding: 13px 15px 15px 15px;
    border-radius: 3px;
}
a:link {
    color: rgba(40, 40, 40, 1.0);
    font-weight: 400;
}
a:visited {
    color: rgba(40, 40, 40, 1.0);
}