* {
	margin: 0;
	padding: 0;
}
html {
    background: url(Media/background.jpg);
}
body {
    font: 100% "Myriad Pro";
    line-height: 2;
    color: rgba(40, 40, 40, 1.0);
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    text-align: justify;
    line-height: 150%;
}
h1 {
    width: 74%;
    font-family: 300% "Myriad Pro";
    font-weight: 600;
    margin-left: 11%;
    margin-bottom: .9em;
    text-align: center;
    padding: 2%;
    border: 2px solid rgba(135, 206, 235, 0.7);
    border-radius: 15px;
    background-color: rgba(241, 196, 15, 0.5);
}
h2 {
    text-decoration: underline;
    margin-bottom:1em;
}
nav {
    border: 2px solid rgba(135, 206, 235, 0.7);
    border-radius: 5px;
    background-color: rgba(241, 196, 15, 0.5);
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 4px;
    position: fixed;
    float: right;
}
.navcenter {
    text-align: center;
    margin: 20px;
}
.navbar {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-color: rgba(241, 196, 15, 0.5);
    border: 2px solid rgba(135, 206, 235, 0.7);
    border-radius: 5px;
}
.page-wrapper {
    padding: 80px 80px 80px 80px;
    margin: 0;
    position: relative;
}
.frame {
    background: transparent;
    padding: 12px;
    border: 1px solid #f39c12;
    border-radius: 2px;
}
.frame_float {
    background: transparent;
    padding: 12px;
    border: 1px solid #f39c12;
    border-radius: 2px;
    float: left;
    margin-right: 20px;
}
p.text30 {
    width: 45%;
    margin-bottom: .8em;
    background-color: rgba(241, 196, 15, 0.5);
    border: 2px solid linen;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}
.post {
    width: 50%;
    margin-bottom: 24px;
}
.post2 {
    margin-bottom: 24px;
}
.content-wrapper {
    margin-top: 30px;
    margin-left: 300px;
}
span.subaru {
    font-weight: 600;
    background-color: rgba(241, 196, 15, 0.5);
    padding: 15px;
    border: 2px solid linen;
    border-radius: 3px;
}
a:link {
    font-weight: 400;
}